<ion-view title="{{article.name}}">
   <ion-content has-header="true" has-bouncing="false" padding="false" on-swipe-up="action()">
      <div class="list list-inset">
         <label class="item item-input item-floating-label"><span class="input-label">Article's Name</span><input type="text" placeholder="Name" ng-model="article.name" /></label>
         <label class="item item-input item-floating-label"><span class="input-label">Article's Description</span><textarea placeholder="Description" ng-model="article.desc"></textarea></label>
         <label class="item item-input item-stacked-label item-full-length">
            <span class="input-label">Article's Location</span>
            <ion-radio ng-model="article.location" ng-value="'A'">At Client</ion-radio>
            <ion-radio ng-model="article.location" ng-value="'B'">At XpandIT</ion-radio>
            <ion-radio ng-model="article.location" ng-value="'C'">At Supplier</ion-radio>
         </label>
         <label class="item item-input item-stacked-label item-full-length">
            <span class="input-label">Article's Issue</span>
            <ion-checkbox ng-model="article.issue1">Software update</ion-checkbox>
            <ion-checkbox ng-model="article.issue2">Installation</ion-checkbox>
            <ion-checkbox ng-model="article.issue3">Hardware Repair</ion-checkbox>
         </label>
         <label class="item item-input item-stacked-label item-full-length">
            <span class="input-label">Article's Completed</span>
            <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Completed</ion-toggle>
         </label>
         <label class="item item-input item-stacked-label item-full-length">
            <span class="input-label">Article's Progress</span>
            <div class="range">
               <i class="icon ion-social-buffer-outline"></i>
               <input type="range" ng-model="article.progress" min="0" max="100" value="5" />
               <i class="icon ion-social-buffer"></i>
            </div>
         </label>
         <div class="list card item-full-length">
            <div class="item item-avatar ">
               <img ng-src="{{article.src}}" />
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>
