<ion-view title="{{service.title}}">
   <ion-content scroll="true" padding="true"  on-swipe-up="module.action()">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" pager-click="true">
         <ion-slide>
            <div class="list card" >
               <div class="item item-avatar">
                  <img src="img/article/photo1.jpg">
                  <h2>Administrator Name</h2><p>Position</p>
               </div>
               <div class="item item-body">
                  <img class="full-image" ng-click="module.getPicture($event)" src="img/default.jpg">
                  <input type="hidden" ng-model="father.jesua" />
                  <input type="hidden" ng-model="father.code" />
                  <input type="hidden" ng-model="father.barcode" />
                  <textarea ng-model="father.description" rows="5" placeholder="Add the description of the item"></textarea>
                  <input type="text" ng-model="father.location" placeholder="Where is the item's current location" />
                  <p>
                     <a href="#" class="subdued positive" ng-bind="father.status.enum[father.status.alpha]"></a>
                     <a href="#" class="subdued assertive" ng-bind="father.urgency.enum[father.urgency.alpha]"></a>
                     <a href="#" class="subdued balanced" ng-bind="father.assign.enum[father.assign.alpha]"></a>
                  </p>
               </div>
               <div class="item tabs tabs-secondary tabs-icon-left" >
                  <a class="tab-item button icon-left ion-flag button-clear button-positive" on-tap="module.enumWalk('status')">Status</a>
                  <a class="tab-item button icon-left ion-alert button-clear button-assertive" on-tap="module.enumWalk('urgency')">Urgency</a>
                  <a class="tab-item button icon-left ion-share button-clear button-balanced" on-tap="module.enumWalk('assign')">Assign</a>
               </div>
            </div>
            <div style="height:50px;width:100%;"></div>
         </ion-slide>
      </ion-slide-box>
   </ion-content>
</ion-view>