<ion-view title="{{service.title}}">
   <ion-content scroll="true" padding="true"  on-swipe-up="module.action()">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" pager-click="true">
         <ion-slide>
            <div class="list card" on-swipe-left="module.onSwipeLeft(3)">
               <form name="dataForm" id="dataForm" novalidate ng-init="module.initForm(this)" ng-class="service.isValide"  ng-model-options="{ updateOn: 'blur' }" >
                  <div class="item item-avatar">
                     <img src="img/article/photo1.jpg">
                     <h2>Administrator Name</h2><p>Position</p>
                  </div>
                  <div class="item item-body">
                     <img id="imageItem" class="captureImg full-image link" ng-src="{{'img/default.jpg'||father.path.alpha}}" ng-click="module.getPicture($event,'path','#imageFile')" />
                     <input id="imageFile" name="imageFile" type="file" accept="image/jpeg" style="display:none" multiple placeholder="Image File" onchange="angular.element(this).scope().module.getPicture(event,'path')" />
                     <input type="hidden" ng-model="father.jesua.alpha" />
                     <input type="hidden" ng-model="father.code" />
                     <input type="hidden" ng-model="father.barcode" />
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Description</span>
                        <textarea ng-model="father.description" rows="5" placeholder="Add the description of the item"></textarea>
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Location</span>
                        <input type="text" ng-model="father.location" placeholder="Where is the item's current location" />
                     </label>
                     <div style="display:none;">
                        <span class="positive" ng-bind="father.status.enum[father.status.alpha]"></span>
                        <span class="assertive" ng-bind="father.urgency.enum[father.urgency.alpha]"></span>
                        <span class="balanced" ng-bind="father.assign.enum[father.assign.alpha]"></span>
                     </div>
                  </div>
                  <div class="item tabs tabs-secondary tabs-icon-left " >
                     <button class="tab-item button icon-left ion-flag button-clear button-positive" on-tap="module.enumWalk('status')">
                        Status <span class="positive" ng-bind="father.status.enum[father.status.alpha]"></span>
                     </button>
                     <button class="tab-item button icon-left ion-alert button-clear button-assertive" on-tap="module.enumWalk('urgency')">
                        Urgency <span class="assertive" ng-bind="father.urgency.enum[father.urgency.alpha]"></span>
                     </button>
                     <button class="tab-item button icon-left ion-share button-clear button-balanced" on-tap="module.enumWalk('assign')">
                        Assign <span class="balanced" ng-bind="father.assign.enum[father.assign.alpha]"></span>
                     </button>
                  </div>
               </form>
            </div>
            <div style="height:50px;width:100%;"></div>
         </ion-slide>
         <ion-slide>
            <div class="list card" on-swipe-left="module.onSwipeLeft(3)">
               <form name="dataForm" id="dataForm" novalidate ng-init="module.initForm(this)" ng-class="service.isValide"  ng-model-options="{ updateOn: 'blur' }" >
                  <div class="item item-avatar">
                     <img src="img/article/photo1.jpg">
                     <h2>Administrator Name</h2><p>Position</p>
                  </div>
                  <div class="item item-body">
                     <img id="imageItem" class="captureImg full-image link" ng-src="{{'img/default.jpg'||father.path.alpha}}" ng-click="module.getPicture($event,'path','#imageFile')" />
                     <input id="imageFile" name="imageFile" type="file" accept="image/jpeg" style="display:none" multiple placeholder="Image File" onchange="angular.element(this).scope().module.getPicture(event,'path')" />
                     <input type="hidden" ng-model="father.jesua.alpha" />
                     <input type="hidden" ng-model="father.code" />
                     <input type="hidden" ng-model="father.barcode" />
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Description</span>
                        <textarea ng-model="father.description" rows="5" placeholder="Add the description of the item"></textarea>
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Location</span>
                        <input type="text" ng-model="father.location" placeholder="Where is the item's current location" />
                     </label>
                     <div style="display:none;">
                        <span class="positive" ng-bind="father.status.enum[father.status.alpha]"></span>
                        <span class="assertive" ng-bind="father.urgency.enum[father.urgency.alpha]"></span>
                        <span class="balanced" ng-bind="father.assign.enum[father.assign.alpha]"></span>
                     </div>
                  </div>
                  <div class="item tabs tabs-secondary tabs-icon-left " >
                     <button class="tab-item button icon-left ion-flag button-clear button-positive" on-tap="module.enumWalk('status')">
                        Status <span class="positive" ng-bind="father.status.enum[father.status.alpha]"></span>
                     </button>
                     <button class="tab-item button icon-left ion-alert button-clear button-assertive" on-tap="module.enumWalk('urgency')">
                        Urgency <span class="assertive" ng-bind="father.urgency.enum[father.urgency.alpha]"></span>
                     </button>
                     <button class="tab-item button icon-left ion-share button-clear button-balanced" on-tap="module.enumWalk('assign')">
                        Assign <span class="balanced" ng-bind="father.assign.enum[father.assign.alpha]"></span>
                     </button>
                  </div>
               </form>
            </div>
            <div style="height:50px;width:100%;"></div>
         </ion-slide>
      </ion-slide-box>
   </ion-content>
</ion-view>