<ion-view title="{{service.title}}">
   <ion-tabs class="tabs-sky tabs-icon-left"  on-swipe-up="module.action()">
      <ion-tab title="Profile" icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline">
         <ion-content has-header="true" has-bouncing="false" padding="true">
            <form name="dataForm" id="dataForm" novalidate ng-init="module.initForm(this)" ng-class="service.isValide"  ng-model-options="{ updateOn: 'blur' }">
               <div class="list list-inset">
                  <div class="item item-icon-left item-divider"><i class="icon ion-ios7-photos-outline"></i>Profile Image</div>
                  <a class="item item-thumbnail-left">
                     <img id="profileImg" class="captureImg link" ng-src="{{father.img.alpha||'img/default.jpg'}}" ng-click="module.getPicture($event,'img','#profileFile','profile.jpg')" />
                     <button class="button icon-left ion-upload button-clear button-dark" ng-click="module.getPicture($event,'img','#profileFile','profile.jpg')">Upload image</button>
                     <h2>Avatar</h2><p>Tap image to edit.</p>
                  </a>
                  <input id="profileFile" name="profileFile" type="file" accept="image/jpeg" style="display:none" multiple placeholder="Profile Image" onchange="angular.element(this).scope().module.getPicture(event,'img',null,'profile.jpg')" />
                  <div class="item item-icon-left item-divider"><i class="icon ion-ios7-person-outline"></i>Profile</div>
                  <label class="item item-input item-floating-label"><span class="input-label">Name & Surname</span><input name="name" type="text" required placeholder="Profile's Name" ng-model="service.name" autocomplete="name" /></label>
                  <label class="item item-input item-floating-label"><span class="input-label">Email & Username</span><input name="email" type="email" required placeholder="Your Email" ng-model="father.email" autocomplete="email" /></label>
                  <label class="item item-input item-floating-label" ng-if="!father.jesua.alpha"><span class="input-label">Password <small class="assertive" ng-if="dataForm.password.$error.pattern">({{service.patterns.pass1[1]}}).</small></span><input required ng-pattern="/{{service.patterns.pass1[0]}}/" name="password" type="password" placeholder="Password" ng-model="father.password"/></label>
               </div>
            </form>
         </ion-content>
      </ion-tab>

      <ion-tab title="Details" icon-on="ion-ios7-paper" icon-off="ion-ios7-paper-outline">
         <ion-content has-header="true" has-bouncing="false" padding="true">
            <form name="dataForm" id="dataForm" novalidate ng-init="module.initForm(this)" ng-class="service.isValide"  ng-model-options="{ updateOn: 'blur' }">
            <div class="list list-inset" >
               <div class="item item-icon-left item-divider"><i class="icon ion-ios7-person-outline"></i>Profile Details</div>
               <label class="item item-input item-stacked-label">
                  <span class="input-label">Gender </span>
                  <ion-toggle ng-model="father.gender" toggle-class="toggle-calm" ng-true-value="true" ng-false-value="false" style="border:none;"  >{{!father.gender?"Female":"Male"}}</ion-toggle>
               </label>
               <lable class="item item-input range range-royal">
                  <span style="width:100px">Birth Year: </span> <span class="input-label" ng-bind="service.year"></span>
                  <i class="icon ion-ios7-calendar-outline"></i>
                  <input form="dataForm" type="range" name="year" min="1930" max="2005"  ng-model="service.year"  />
                  <i class="icon ion-ios7-calendar"></i>
               </lable>
               <lable class="item item-input range range-balanced">
                  <span style="width:100px">Birth Month: </span><span class="input-label" ng-bind="service.month"></span>
                  <i class="icon ion-ios7-calendar-outline"></i>
                  <input form="dataForm" type="range" name="month" min="1" max="12" ng-model="service.month"  />
                  <i class="icon ion-ios7-calendar"></i>
               </lable>
               <lable class="item item-input range range-calm">
                  <span style="width:100px">Birth Day: </span><span class="input-label" ng-bind="service.day"></span>
                  <i class="icon ion-ios7-calendar-outline"></i>
                  <input form="dataForm" type="range" name="day" min="1" max="31" ng-model="service.day"  />
                  <i class="icon ion-ios7-calendar"></i>
               </lable>
            </div>
            </form>
         </ion-content>
      </ion-tab>

      <ion-tab title="Contacts" icon-on="ion-ios7-telephone" icon-off="ion-ios7-telephone-outline">
         <ion-content has-header="true" has-bouncing="false" padding="true">
            <form name="dataForm" id="dataForm" novalidate ng-init="module.initForm(this)" ng-class="service.isValide"  ng-model-options="{ updateOn: 'blur' }">
            <div class="list list-inset">
               <div class="item item-icon-left item-divider item-button-right" style="height:40px;vertical-align: top;">
                  <i class="icon ion-ios7-telephone-outline"></i>
                  Contact Details
                  <button class="button button-calm button-clear icon-left ion-plus-circled icon-modified" ng-click="module.showMe('revelation')">Add</button>
               </div>
               <div ng-if="display.revelation" class="button-bar" >
                  <a class="button button-outline button-positive" ng-click="module.addChild('revelation', {'contact':'', 'type':'mobile', 'isNew':true})">Mobile</a>
                  <a class="button button-outline button-royal" ng-click="module.addChild('revelation', {'contact':'', 'type':'fixed', 'isNew':true})">Fixed</a>
                  <a class="button button-outline button-calm" ng-click="module.addChild('revelation', {'contact':'', 'type':'work', 'isNew':true})">Work</a>
                  <a class="button button-outline button-calm" ng-click="module.addChild('revelation', {'contact':'', 'type':'Email', 'isNew':true})">Email</a>
                  <a class="button button-outline button-balanced" ng-click="module.addChild('revelation', {'contact':'', 'type':'social', 'isNew':true})">Social Media</a>
                  <a class="button button-outline button-calm" ng-click="module.addChild('revelation', {'contact':'', 'type':'IM', 'isNew':true})">Instant Messaging</a>
                  <a class="button button-outline button-silver" ng-click="module.addChild('revelation', {'contact':'', 'type':'other', 'isNew':true})">Other</a>
               </div>
               <div ng-repeat="sub in child.gerund.revelation.data" class="item item-input" style="padding-right:35px;">
                  <label class="input-label" style="text-transform: capitalize;"ng-bind="sub.type" ></label>
                  <input form="dataForm" type="hidden" placeholder="New {{sub.type}} number" ng-model="sub.user" />
                  <input form="dataForm" type="text" placeholder="New {{sub.type}} contact" ng-model="sub.contact" />
                  <button class="button button-assertive button-clear icon-left ion-minus-circled icon-modified" ng-click="child.gerund.revelation.data.splice($index,1)"></button>
               </div>
            </div>
            </form>
         </ion-content>
      </ion-tab>
   </ion-tabs>
</ion-view>