<ion-side-menus>

   <ion-side-menu-content edge-drag-threshold="true">
      <ion-nav-bar class="bar-sky nav-title-slide-ios7"  align-title="left">
         <ion-nav-buttons side="left"><button menu-toggle="left" class="button button-icon icon ion-navicon"></button></ion-nav-buttons>
         <ion-nav-buttons side="right"><button menu-close class="button button-icon icon ion-camera icon-shadow" ng-click="barscan()" ></button></ion-nav-buttons>
         <ion-nav-buttons side="right"><button menu-close class="button button-icon icon ion-log-out assertive-bg icon-shadow" ng-click="logoff()" ></button></ion-nav-buttons>
         <ion-nav-back-button class="button-clear" style="margin-right:7px"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
      </ion-nav-bar>
      <header ng-show="msg" class="bar bar-small bar-subheader bar-dark"><h5 id="notification" ng-class="msg.clss"  >{{msg.text}}</h5></header>
      <ion-nav-view name="principle" class="slide-left-right-ios7"></ion-nav-view>
   </ion-side-menu-content>

   <ion-side-menu side="left" is-enabled="sideMenu" expose-aside-when="false">
      <header class="bar bar-sky bar-header">
         <div class="row user-avatar link" ng-click="goTo('call.profile',{'jesua':profile.jesua})">
            <div class="col col-25"><img ng-src="{{profile.avatar||'img/article/photo.jpg'}}"/></div>
            <div class="col col-75">
               <h2 class="title-left" ng-bind="profile.givenname"></h2>
               <h3 class="title-left" ng-bind="profile.position"></h3>
            </div>
         </div>
      </header>
      <ion-content class="has-header">
         <ion-list>
            <div class="item item-divider">Pages</div>
            <ion-item nav-clear menu-close href="#/call/dash" class="item item-icon-left"><i class="icon ion-home"></i>Dashboard</ion-item>
            <ion-item nav-clear menu-close href="#/call/search" class="item item-icon-left"><i class="icon ion-search"></i>Search</ion-item>
            <ion-item nav-clear menu-close href="#/call/articles/list" class="item item-icon-left"><i class="icon ion-ios7-pricetags"></i>Articles</ion-item>
            <ion-item nav-clear menu-close href="#/call/articleList/list" class="item item-icon-left"><i class="icon ion-ios7-pricetag"></i>Demo Articles</ion-item>
            <ion-item nav-clear menu-close href="#/call/profile/" class="item item-icon-left"><i class="icon ion-person"></i>Profile</ion-item>
            <ion-item nav-clear menu-close href="#/call/profileList/list" class="item item-icon-left"><i class="icon ion-ios7-people"></i>Profile List</ion-item>
            <div class="item item-divider">Configuration</div>
            <ion-item nav-clear menu-close href="#/settings" class="item item-icon-left"><i class="icon ion-settings"></i>Settings</ion-item>
            <ion-item nav-clear menu-close ng-click="logout()" class="item item-icon-left item-assertive"><i class="icon ion-log-out"></i>Logout</ion-item>
         </ion-list>
      </ion-content>
   </ion-side-menu>
</ion-side-menus>
