/*
    Created on : 03 Jul 2014, 1:55:14 PM
    Author     : ftshimanga
*/
@import "../lib/ionic/scss/variables","../lib/ionic/scss/mixins";
$white:  #ffffff;
$red:    #ff0000;
$grey:   #777;

//============================================================================//
//CUSTOM IONIC CLASSES
//============================================================================//
$sky:                           #acd1e9 !default;

$button-sky-bg:                 $sky !default;
$button-sky-text:               #444 !default;
$button-sky-border:             #ddd !default;
$button-sky-active-bg:          #fafafa !default;
$button-sky-active-border:      #ccc !default;

$bar-sky-bg:                    rgba($button-sky-bg, $bar-transparency) !default;
$bar-sky-text:                  $button-sky-text !default;
$bar-sky-border:                $button-sky-border !default;
$bar-sky-active-bg:             $button-sky-active-bg !default;
$bar-sky-active-border:         $button-sky-active-border !default;

$tabs-sky-bg:                   $button-sky-bg !default;
$tabs-sky-border:               $button-sky-border !default;
$tabs-sky-text:                 $button-sky-text !default;

$item-sky-bg:                   $button-sky-bg !default;
$item-sky-border:               $button-sky-border !default;
$item-sky-text:                 $button-sky-text !default;
$item-sky-active-bg:            $button-sky-active-bg !default;
$item-sky-active-border:        $button-sky-active-border !default;

$badge-sky-bg:                  $button-sky-bg !default;
$badge-sky-text:                $button-sky-text !default;
//util
.sky, a.sky {
  color: $sky;
}
.sky-bg {
  background-color: $sky;
}
//tabs
.tabs-sky > .tabs,
.tabs.tabs-sky {
  @include tab-style($tabs-sky-bg, $tabs-sky-border, $tabs-sky-text);
  @include tab-badge-style($tabs-sky-text, $tabs-sky-bg);
}
.tab-item.activated {
  opacity: 1;
  &.tab-item-stable {
    color: $stable;
   }
}
//items
.item{
  &.item-sky {
    @include item-style($item-sky-bg, $item-sky-border, $item-sky-text);
  }
}
//buttons
.button {
  &.button-sky {
    @include button-style($button-sky-bg, $button-sky-border, $button-sky-active-bg, $button-sky-active-border, $button-sky-text);
    @include button-clear($button-sky-border);
    @include button-outline($button-sky-border);
  }
}
//bars
.bar {
  &.bar-sky {
    @include bar-style($bar-sky-bg, $bar-sky-border, $bar-sky-text);
  }
}
.bar-sky {
  .button {
    @include button-style($bar-sky-bg, $bar-sky-border, $bar-sky-active-bg, $bar-sky-active-border, $bar-sky-text);
    @include button-clear($bar-sky-text, $bar-title-font-size);
  }
}
//============================================================================//
//MODIFY CLASSES
//============================================================================//
//card used on the dashboard
.dash {
   text-decoration: none;
   margin:2px 0px;
}
.dash-top,.dash-bot{position:absolute;left:0;right:0;top:0;}
.dash-bot{bottom:0;top:auto;}
//notification msg
.bar-small {height:22px; padding: 1px 15px;
   h5 {margin: 0;font-weight: 100;font-style: italic;}
}
//used in application form to make checkbox, radio and other to the full length of the screen
.item-full-length {padding-left: 0px; margin-left:0px;padding-right: 0px; margin-right:0px; width:100%;
   .input-label {padding-left:8px;}
}
//the login avatar
.user-avatar{padding:0px; margin-top:-5px;
   img {height:35px;border-radius: 50%;}
   h2,h3 {color:white;font-size:14px;margin:0px;padding:0px;}
   h3 {font-size:12px;}
}
//modify the action sheet
.action-sheet-title {padding: 10px;background:#000;padding-left: 100px;font-weight: bold; text-align: left;text-shadow: 2px 2px 5px #999;color: #ececec;font-size: 18px;}
.action-sheet-group{.button{text-align: left;padding-left:100px;}}
//changes the add icon on the bar
.item .list {margin-top:-7px;   .icon:before {font-size:30px;}}
//change the form label
.input-label{font-weight:bold; small{font-weight:normal;}}
//============================================================================//
//CUSTOMES CLASSES
//============================================================================//
//IMAGE:: creates a grey scall image
img.grey {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom: 20px;
   &:hover {
       filter: none; /* IE6-9 */
       -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
   }
}

//BUTTON:: changes the layout of the icon button
.button.icon-modified{top:2px;height:20px;}
.button.icon-modified:before{line-height: 30px;}

//in the list of items the blockquote is modified
.infoblock {position:absolute;right:0;top:0;font-size:0.8em;border-left: 5px solid $sky; margin-top:4px; }

//TITLE:: custome title with shaddow
.myTitle{text-shadow: 1px 1px 5px #999;color: #ececec !important;font-size: 18px !important;}

//ICON:: add a shadow to icons.
.icon-shadow::before{text-shadow: 1px 0px 2px #999;}

//BLINK:: class for animations
.blink_me {animation-name: blinker;animation-duration: 1s;animation-timing-function: linear;animation-iteration-count: infinite;-webkit-animation-name: blinker;-webkit-animation-duration: 1s;-webkit-animation-timing-function: linear;-webkit-animation-iteration-count: infinite;-moz-animation-name: blinker;-moz-animation-duration: 1s;-moz-animation-timing-function: linear;-moz-animation-iteration-count: infinite;}
@keyframes blinker {0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}@-moz-keyframes blinker {0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}@-webkit-keyframes blinker {0% { opacity: 1.0; }50% { opacity: 0.0; }100% { opacity: 1.0; }}

//FORM:: validation
form {.ng-dirty.ng-invalid{ border-bottom:1px solid #f00;}}//dirty and invalid
form.isNotValide {.ng-invalid{ border-bottom:1px solid #f00;}}//submitted and invalid

//LINK:: cursor
.link{cursor: pointer;}